@model Pas.Web.ViewModels.AppUserDetailsVM
@using Pas.Web.ViewModels

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
    int rowCounter = 1;
}

@*  Doctor's Profile    *@
<div class="w-100">
    <div class="card">
        <div class="card-header">
            Profile
        </div>
        <div class="card-body">
            <div class="form-row">

                <div class="col-8">
                    <span class="float-left">
                        <span style="font-size: 3em; color: Mediumslateblue;">
                            <i class="fa fa-user-md mr-2"></i>
                        </span>
                    </span>
                    <span class="float-left pt-1 ml-1">
                        <span class="h4">@Model.Name</span><br>
                        <span class="h5 text-primary">@Model.CurrentRole.OrganisationName</span>
                    </span>
                    @*<p class="card-text">
                        <span style="font-size: 3em; color: Dodgerblue;">
                            <i class="fa fa-hospital-alt mr-"></i>
                        </span>
                        
                    </p>*@
                </div>

            </div>

            @*Chambers and Roles *@
            <div class="col-md-6 col-sm-12">
                <div class="card border">
                    <div class="card-header py-2">
                        <div class="card-title">
                            Chambers and roles
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table m-0">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Hospital</th>
                                    <th>Role</th>
                                    <th>Date added</th>
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model.RolesList)
                                {
                                    <tr>
                                        <th scope="row">@rowCounter</th>
                                        <td>@item.OrganisationName</td>
                                        <td>@item.RoleName</td>
                                        <td>@item.DateAdded.ToShortDateString()</td>
                                        <td>
                                            <button type="button" id="RemoveRoleButton"
                                                    class="btn btn-danger btn-sm float-right"
                                                    value="">
                                                <i class="fal fa-trash-alt"></i>
                                            </button>
                                        </td>
                                    </tr>

                                    rowCounter = rowCounter + 1;
                                }

                            </tbody>
                        </table>
                        <div class="form-row col-12">
                            <button type="button" id="AddNewRoleButton"
                                    class="btn btn-primary"
                                    value="">
                                <i class="fal fa-check mr-2"></i>Add New
                            </button>


                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 mt-3">
                <div class="card border">
                    <div class="card-header py-2">
                        <div class="card-title">
                            Prescription Header Preview
                        </div>
                    </div>

                    <div class="card-body form-row">

                        <div id="PrescriptionEnglishHeader" class="col-6">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text">
                                        Dr Rawnak Jahan <br />
                                        MBBS, MRCOG (England) <br />
                                        Belle Vue Hospital<br />
                                        Gynea, Medicine, Surgery<br />
                                        Govt Reg: 0123456<br />
                                    </p>
                                    <a href="#" class="btn btn-primary btn-pills waves-effect waves-themed" role="button">
                                        <span class="fal fa-edit mr-1"></span>&nbsp;Edit
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div id="PrescriptionBanglaHeader" class="col-6">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text">
                                        ডাঃ রউনক জাহান এমবিবিএস,  <br />
                                        এম আর সি ও জি (ইংল্যান্ড) <br />
                                        গাইনি, মেডিসিন, সার্জারি বিশেষজ্ঞ <br />
                                        বেল ভিউ হাসপাতাল  <br />
                                        গভঃ রেজি: ০১২৩৪৫৬
                                    </p>
                                    <a href="#" class="btn btn-primary btn-pills waves-effect waves-themed" role="button">
                                        <span class="fal fa-edit mr-1"></span>&nbsp;Edit
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 form-row">
            @*Proffessional achievement*@
            <div class="col-md-6 col-sm-12">
                <div class="card border">
                    <div class="card-header py-2">
                        <div class="card-title">
                            Professional achievement
                            @*<a href="#" class="btn btn-default btn-icon rounded-circle waves-effect waves-themed float-right"
                                   role="button">
                                    <i class="fal fa-check"></i> Add
                                </a>*@
                        </div>
                    </div>
                    <div class="card-body">

                        <table id="ProfessionalAchievementTable" class="table m-0">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Title</th>
                                    <th>Awarding Body</th>
                                    <th>Country</th>
                                    <th>Year</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>MBBS</td>
                                    <td>Dhaka</td>
                                    <td>Bangladesh</td>
                                    <td>2009</td>
                                    <td>
                                        <button type="button" id="RemoveRoleButton"
                                                class="btn btn-danger btn-sm float-right"
                                                value="">
                                            <i class="fal fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>MRCOG</td>
                                    <td>MRCOG</td>
                                    <td>England</td>
                                    <td>2020</td>
                                    <td>
                                        <button type="button" id="RemoveRoleButton"
                                                class="btn btn-danger btn-sm float-right"
                                                value="">
                                            <i class="fal fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>MRCP</td>
                                    <td>MRCP</td>
                                    <td>England</td>
                                    <td>2018</td>
                                    <td>
                                        <button type="button" id="RemoveRoleButton"
                                                class="btn btn-danger btn-sm float-right"
                                                value="">
                                            <i class="fal fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
            @*Membership &Aacute; Affiliation*@
            <div class="col-md-6 col-sm-12">
                <div class="card border">
                    <div class="card-header py-2">
                        <div class="card-title">
                            Membership &amp; Affiliation

                        </div>
                    </div>
                    <div class="card-body">
                        <table id="MembershipAffiliationTable" class="table m-0">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Title</th>
                                    <th>Organisation</th>
                                    <th>Year</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>MBBS</td>
                                    <td>Dhaka</td>
                                    <td>2009</td>
                                    <td>
                                        <button type="button" id="RemoveRoleButton"
                                                class="btn btn-danger btn-sm float-right"
                                                value="">
                                            <i class="fal fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>MRCOG</td>
                                    <td>England</td>
                                    <td>2020</td>
                                    <td>
                                        <button type="button" id="RemoveRoleButton"
                                                class="btn btn-danger btn-sm float-right"
                                                value="">
                                            <i class="fal fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>MRCOG</td>
                                    <td>England</td>
                                    <td>2018</td>
                                    <td>
                                        <button type="button" id="RemoveRoleButton"
                                                class="btn btn-danger btn-sm float-right"
                                                value="">
                                            <i class="fal fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>