@using Pas.Common.Enums
@model Pas.Common.Enums.Gender

@{ 
    var showPregnancyExamEntry = Model == Gender.Female;

}
<!-- _ExaminationModal.cshtml -->

<div id="ExaminationModalPopup" class="modal fade" tabindex="-1" role="dialog" aria-label="Patient Examination Modal Popup" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-info font-weight-bold">
                    <i class="fal fa-stethoscope mr-2"></i>On Examination</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="ExaminationItemEntryDiv" class="form-row col-12">
                    <div id="ExaminationCategoryDiv" class="col-5">
                        <label class="" for="ExaminationCategorySelect">System</label>
                        @Html.DropDownList("ExaminationCategorySelect", Html.GetEnumSelectList<ExminationCategory>(),
                               new
                                    {
                                   id = "ExaminationCategorySelect",
                                   @class = "form-control exam-option-category",
                                   size = "7"
                               })

                    </div>
                    <div id="ExaminationItemDiv" class="col-7">
                        <label class="" for="ExminationGeneralItemsSelect">Points</label>
                        @Html.DropDownList("ExminationGeneralItemsSelect", Html.GetEnumSelectList<ExminationGeneralItems>(),
                       new
                       {
                           id = "ExminationGeneralItemsSelect",
                           @class = "form-control exam-option-list",
                           size = "7"
                       })

                        @Html.DropDownList("ExaminationGenericItemsSelect", Html.GetEnumSelectList<ExminationGenericItems>(),
                               new
                                    {
                                   id = "ExaminationGenericItemsSelect",
                                   @class = "form-control exam-option-list d-none",
                                   size = "7"
                               })

                        @Html.DropDownList("ExminationNervousSystemItemsSelect", Html.GetEnumSelectList<ExminationNervousSystemItems>(),
                              new
                                   {
                                  id = "ExminationNervousSystemItemsSelect",
                                  @class = "form-control exam-option-list d-none",
                                  size = "7"
                              })

                        @*<select id="ExaminationGenericItemsSelect" class="form-control"
                        asp-items="Html.GetEnumSelectList<ExminationGenericItems>()" size="7">
                </select>*@
                    </div>
                </div>

                @*Pregnancy Examination entry*@
                @if (showPregnancyExamEntry)
                {
                    <div class="form-row col-12 mt-3">

                        <div id="ExaminationCPregnancyDiv" class="col-5">
                            <label class="" for="ExaminationPregnancySelect">Pregnancy</label>
                            <select id="ExaminationPregnancySelect" name="ExaminationPregnancySelect" class="form-control" size="4">
                                <option value="10">P/A</option>
                                <option value="11">P/V</option>
                            </select>

                        </div>
                        <div id="ExaminationPregnancyItemDiv" class="col-7">
                            <label class="" for="ExminationPregnancyItemsSelect">Points</label>
                            @Html.DropDownList("ExminationPregnancyItemsSelect", Html.GetEnumSelectList<ExminationNervousSystemItems>(),
                                  new
                                       {
                                      id = "ExminationPregnancyItemsSelect",
                                      @class = "form-control exam-option-list",
                                      size = "7"
                                  })
                        </div>
                    </div>

                }


                <div class="col-12 form-row mt-2">
                    <label class="col-2" for="ExaminationFindingInput">Findings:</label>
                    <div class="col-10">
                        <textarea id="ExaminationFindingInput" class="form-control"
                                  aria-label="Examination findings"
                                  placeholder="Examination findings" rows="2" maxlength="100"></textarea>

                        <div class="error-feedback text-danger invisible">
                            Please select System/Points and enter the findings.
                        </div>
                    </div>
                </div>

                <div class="col-12 mt-2">

                    <input type="hidden" id="ExaminationPointIdInput" value="" />
                    <input type="hidden" id="ExaminationPointTextInput" value="" />

                    <button id="ExaminationItemAddButton" type="button" class="btn btn-primary float-right">
                        <i class="fal fa-notes-medical fa-lg mr-2"></i>
                        Add
                    </button>
                </div>

            </div>


            <div class="modal-footer">
                <div id="ExaminationItemAddedAlert" class="alert alert-info" role="alert">
                    Examintion item is added to the prescription
                </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>