@model Pas.Web.ViewModels.PrescriptionCreateVM
@{ 
    var chamber = Model.ChamberDetails;
    var doctor = Model.Doctor;
    var patient = Model.PatientDetails;

    var patientDisplayName = $"{@patient.Title} {@patient.Name} / {@patient.Age} / {@patient.Gender} ({@patient.ShortId})";

}
@using Pas.Common.Extensions
<!-- _PrescriptionIPrintPreview -->
<!-- Modal -->

<div id="PrintPreviewContainerModalPopup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div id="PreviewContentsDiv" class="modal-content" style="">
            <div id="HeaderDiv" class="form-row col-12 mb-2 border-bottom">
                <div class="mobile-device-preview d-sm-none col-xs-12 d-print-none">
                    <div class="h2 patient-name-age-gender">
                        <!-- Patient Details will be inserted here- For Mobile Device View-->
                        @patientDisplayName
                    </div>
                    <div class="prescription-date">
                        @DateTime.Now.ToDisplay()
                    </div>
                </div>

                <div id="PrintPreviewHospitalDetails" class="col-xs-12 col-sm-6">
                    <h4>@chamber.Name</h4>
                    <p>
                        @chamber.HeaderEnglish
                    </p>                    
                </div>
                <div id="PrintPreviewDoctorDetails" class="col-xs-12 col-sm-6 text-right">
                    <h5 class="text-primary">Dr @doctor.Name</h5>
                    <textarea class="col-12 border-0 text-right p-0" rows="4" readonly>@doctor.DoctorDetails.HeaderEnglish</textarea>
                       
                    @*<p>
                        @doctor.DoctorDetails.DoctorDegrees()<br />
                        Speciality in @doctor.DoctorDetails.Specialities()<br />
                        
                    </p>*@
                </div>
            </div>
            <div id="PrescriptionPreviewPatientDetails" class="form-row col-12 ">                @*d-none d-sm-block*@
                <div class="h6 text-info col-6 patient-name-age-gender float-left">
                    @patientDisplayName
                </div>
                <div class="h6 col-6 text-right float-right">Date: @DateTime.Now.ToDisplay()</div>
                <div class="col-12 patient-address"><!-- Address will be inserted here --></div>
            </div>
            <div id="BodyDiv" class="form-row col-12">
                <!--- Left column- Plan/Notes-->
                <div id="LeftColumn" class="col-xs-12 col-sm-5 p-3 border rounded">
                    <h4>
                        <i class="fas fa-diagnoses mr-2"></i>
                        C/C:
                    </h4>
                    <div id="PrescriptionCCDiv" class="mb-5">
                        <!-- CC will be inserted here in UL format-->
                        <ul id="PrescriptionCCListUL" class="list-group">
                            <!-- CC list will be inserted here -->
                        </ul>
                    </div>

                    <h4>
                        <i class="fas fa-stethoscope mr-2"></i>
                        Examination:
                    </h4>
                    @* This block will be visible only for small devices and Upper *@
                    <div id="PrescriptionVitalsDiv" class="mb-5 text-center d-none d-sm-block">
                        <div class="form-row col-12 border-bottom thead-themed">
                            <div class="col-4">Temperature</div>
                            <div class="col-2">Pulse</div>
                            <div class="col-4">Pressure</div>
                            <div class="col-2">Weight</div>
                        </div>
                        <div class="form-row col-12">
                            <div class="col-4 vital-temperature">37</div>
                            <div class="col-2 vital-pulse">70</div>
                            <div class="col-4 vital-pressure">120/80</div>
                            <div class="col-2 vital-weight">72 kgs</div>
                        </div>
                        <div id="PrescriptionPreviewExaminationList" class="text-left">
                            <!-- we will dump the Examination List items here by jQuery-->
                        </div>
                    </div>

                    @* This block is sonly for Small Mobile devixes (xs)- Hidden only on xs *@
                    <div id="PrescriptionVitalsDivMobile" class="mb-5 text-center d-block d-sm-none">
                        <ul id="PrescriptionVitalsDivMobileUL" class="text-left">
                            <li class="">Temperature: <span class="vital-temperature"> </span></li>
                            <li class="">Pulse: <span class="vital-pulse"> </span></li>
                            <li class="">Pressure: <span class="vital-pressure"> </span></li>
                            <li class="">Weight: <span class="vital-weight"> </span></li>
                        </ul>
                    </div>


                    <h4><i class="fas fa-comment-medical mr-2"></i>Notes</h4>
                    <div id="PrescriptionPreviewNotesDiv" class="mb-5 p-2 border rounded">
                        <ul id="PrescritionPreviewNotesSelectList">
                            @*Notes about the patient. What the doctor has observed or something extra info*@    
                        </ul>
                    </div>

                    <h4><i class="fas fa-laptop-medical mr-2"></i>Plan</h4>
                    <div id="PrescriptionPreviewPlanDiv" class="mb-5 p-2 border rounded">
                        <ul id="PrescritionPreviewPlanSelectList">
                            <!--- WIll insert Plan and Advise here -->                            
                        </ul>
                    </div>
                </div>

                <!--- Right column- Actual medicine items -->
                <div id="PreviewModaBodyDiv" class="col-xs-12 col-sm-7">

                    <div id="PrintPreviewContainer" class="modal-body p-3 mb-3 border rounded">
                        <h4>Actual medicine items</h4>
                        <!-- Here we will dump the Prescription to view as a Modal Popup -->
                    </div>

                    <!-- Advise for the Patient -->
                    <div class="col-12 border-top p-3">
                        <h4><i class="fas fa-lightbulb mr-2"></i>Advise</h4>
                        <div id="PrescritionPreviewAdvise">
                            <!-- we will dump here Advise List-->
                        <ul id="PrescritionPreviewAdviseSelectList">
                        </ul>
                        </div>
                    </div>

                    <div class="col-12 border-top p-3">
                        <h4>
                            <i class="fas fa-vials mr-2"></i>Investigations
                        </h4>
                        <ul id="PreviewInvestigationListUL">
                            <!-- we will dump here Investigation List-->
                        </ul>
                    </div>


                </div>

            </div>




            <div class="modal-footer d-print-none">
                <div id="SaveSuccessConfirm" class="alert alert-success col-8 d-none">
                    This prescription is successfully saved! Now you can print and the Patient can also view it online.<br/>
                    Click on Close to go back to 'Patient Search' page.
                </div>

                @*This checkbox and the FinishButton- both will be hidden- initially. If there is no item in the Prescription-DrugList- then - you can't FINISH a Prescription*@
                <div id="DisclaimerCheckBoxDiv" class="custom-control custom-checkbox my-1 mr-sm-2 d-none">
                    <input type="checkbox" class="custom-control-input" id="ConfirmFinishCheckbox">
                    <label class="custom-control-label" for="ConfirmFinishCheckbox">Confirm all checks are done and Ready to print</label>                
                </div>
                <button id="PrescriptionFinishButton" type="button" 
                    tooltip="Finish Prescription"
                    class="btn btn btn-primary d-none" disabled>                
                    <i class="fal fa-check-circle fa-lg mr-2 d-none"></i>Finish
                </button>



                <button type="button" id="PrescriptionPrintButton"
                        data-toggle="tooltip" data-placement="left" title="Print Preview"
                        class="btn btn-primary waves-effect waves-themed float-right d-none">
                    <i class="fal fa-print fa-lg mr-2"></i>
                    Print
                </button>
                
                <button id="ClosePreviewDialogButton" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a href="/Doctor/Home/SearchPatient" id="BackToPatientSearchButton" type="button" class="btn btn-default d-none">Close</a>
            </div>
        </div>

    </div>
</div>